@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-zoom {
    animation: zoomInOut 4s ease-in-out infinite;
  }

  /* Plain CSS for rotation */
.rotating-bg {
  background-image: url('/src/assets/bgmandirimage1.png');
  height: 80px;
  width:80px;
  z-index: -1;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* footer */
.footer-end {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-term {
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
}

  